---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Schéhérazade" description="">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait.png"
					alt="Shera"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
					My enthusiasm for full-stack web development is rooted in a profound understanding 
					of various programming languages and technologies. With a strong command of PHP, 
					I seamlessly bridge front-end and back-end tasks, crafting dynamic, responsive web 
					applications. Beyond PHP, my expertise extends to JavaScript, HTML, and CSS, enabling
					 me to design visually captivating and highly functional interfaces. Additionally, my
					  adeptness in managing databases using MariaDB/MySQL ensures efficient data storage 
					  and retrieval, forming the backbone of robust web applications. This comprehensive
					   skill set empowers me to handle both front-end and back-end development, ensuring
					    a well-rounded and integrated approach to web solutions that are not only visually 
						appealing but also functionally seamless.
					</p>
					<br>


					<p>
					My proficiency in C++ is multifaceted, touching various domains of software 
					development. I've leveraged C++ extensively in crafting video games, delving
					into the intricate details of gameplay mechanics and rendering engines.
					Furthermore, my expertise extends to creating software that incorporates 
					user-friendly graphical interfaces utilizing the QT framework.
					This comprehensive experience has empowered me with a diverse skill set, 
					allowing me to navigate through different facets of software development, 
					from gaming landscapes to algorithmic intricacies and sophisticated user 
					interface design.
					</p>
					<br>
					<p>
					My fascination with robotics, particularly the application of Arduino, 
					has led me to immerse myself in diverse projects. These ventures have included 
					the creation of intelligent vehicles, the development of sophisticated obstacle 
					detection systems, and the innovation of Bluetooth-controlled connected devices. 
					These experiences have enabled me to amalgamate my skills, merging my knowledge in 
					software development with the intricacies of robotics. This convergence of skills not 
					only broadens my proficiency but also allows me to navigate across a broad spectrum of 
					technological domains. It's not just about the individual projects; it's the cumulative 
					learning and hands-on experience that expand my horizons, enabling me to traverse various 
					facets of technology seamlessly and effectively.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>I am currently in the last year of a Bachelor's Degree in Computer Science.</p>
				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
